.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    font-weight: bold;
    text-align: left;
}

.serviceCard{
    background-color: white;
    width: 300px;
    margin: 1rem auto;
    border-radius: 1rem;
}

.services{
    display: flex;
    width: 100%;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 70px;
    padding-bottom: 4rem;
}

.text{
    font-weight: bold;
    margin: 5px 0;
}

.reservation-chip{
  padding: 7px 8px 7px 12px;
}

.accepted-chip{
  background-color: green;
  color: #fff;
  margin: 0 !important;
  margin-top: 10px !important;
}

.serviceCard:hover{
  box-shadow: 0 5px 32px -2px rgba(0,0,0,0.27);
  background-color: white;
  border-radius: 1rem;
}

.chip-icon{
  margin-left: 5px;
}


