<div *ngIf="showConfirmServiceRequest" [formGroup]="service_request">
  <h1 mat-dialog-title>Change Password</h1>
  <mat-form-field appearance="fill" class="password-input">
    <mat-label>Service Price</mat-label>
    <input matInput placeholder="Service Price" formControlName="service_price"/>
    <mat-error *ngIf="service_price?.errors?.['required']">
      Service Price is required
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Reservation Price</mat-label>
    <input matInput placeholder="Reservation Price" formControlName="reservation_price"/>
    <mat-error *ngIf="reservation_price?.errors?.['required']">
      Reservation Price is required
    </mat-error>
  </mat-form-field>
  <div mat-dialog-actions>
    <button mat-stroked-button class="change-button" (click)="changeVisibility('Confirmation-Dialog')" >CONFIRM SERVICE</button>
    <button mat-stroked-button class="back-button" mat-dialog-close >CANCEL</button>
  </div>
</div>
<div *ngIf="showConfirmationDialog">
  <h1 mat-dialog-title>Are you sure to accept the service?</h1>
  <div mat-dialog-actions>
    <button mat-stroked-button class="back-button" (click)="changeVisibility('Confirm-Service')" >No</button>
    <button mat-stroked-button class="change-button" mat-dialog-close (click)="confirmService()" >Yes</button>
  </div>
</div>

