<div *ngIf="showChangeDialog" [formGroup]="change_password">
  <h1 mat-dialog-title>Change Password</h1>
  <mat-form-field appearance="fill" class="password-input">
    <mat-label>Password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'" type="password" placeholder="Password" formControlName="password"/>
    <mat-error *ngIf="password?.errors?.['required']">
      Password is required
    </mat-error>
    <button mat-icon-button matSuffix (click)="hide = !hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Confirm Password</mat-label>
    <input matInput [type]="hide_confirm ? 'password' : 'text'" type="password" placeholder="Confirm Password" formControlName="confirm_password"/>
    <mat-error *ngIf="confirm_password?.errors?.['required']">
      Confirm Password is required
    </mat-error>
    <button mat-icon-button matSuffix (click)="hide_confirm = !hide_confirm">
      <mat-icon>{{hide_confirm ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <div mat-dialog-actions>
    <button mat-stroked-button class="change-button" (click)="changeVisibility('Confirmation-Dialog')" >CHANGE PASSWORD</button>
    <button mat-stroked-button class="back-button" mat-dialog-close >CANCEL</button>
  </div>
</div>
<div *ngIf="showConfirmationDialog">
  <h1 mat-dialog-title>Are you sure to change your password?</h1>
  <div mat-dialog-actions>
    <button mat-button (click)="changeVisibility('Change-Password')" >No</button>
    <button mat-button mat-dialog-close (click)="changePassword()" >Yes</button>
  </div>
</div>

