<div *ngIf="!confirm">
    <h2 mat-dialog-title>¿Estas seguro de cancelar este servicio?</h2>
    <mat-dialog-actions>
        <button mat-raised-button (click)="cancelRequest()">Confirmar</button>
        <button mat-raised-button mat-dialog-close>Cancelar</button>
    </mat-dialog-actions>
</div>
<div *ngIf="confirm">
    <h2 mat-dialog-title>Servicio cancelado correctamente</h2>
    <mat-dialog-actions>
        <button mat-raised-button mat-dialog-close (click)="reload()">Cerrar</button>
    </mat-dialog-actions>
</div>